body {
    background-image: url(background.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card {
    border-radius: 10px;
    width: 700px;
    margin-top: 57px;
    z-index: 10;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 5px 33px 13px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 5px 33px 13px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 5px 33px 13px rgba(0, 0, 0, 0.85);
}

.card-1 {
    border-radius: 10px 0 0 10px;
    height: 480px;
    width: 350px;
    background-color: red;
}

.card-2 {
    right: 333px;
    position: absolute;
    z-index: 10;
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    height: 480px;
    width: 350px;
    background-color: rgb(58, 58, 58);
}

.card-2 h1 {
    position: relative;
    left: 15px;
}

.img-card {
    border-radius: 10px 0 0 10px;
    height: 480px;
    width: 350px;
}

.card-2 h1 {
    padding: 0;
    margin-top: 30px;
    margin-left: 90px;
}

.ket-email1 {
    position: relative;
    top: 0px;
    left: 2px;
}

.email-column1 {
    width: 225px;
    position: relative;
    top: -10px;
    left: 2px;
    height: 25px;
    border-radius: 5px;
}

.ket-password1 {
    position: relative;
    top: -5px;
    left: 2px;
}

.password-column1 {
    width: 225px;
    position: relative;
    top: -20px;
    left: 2px;
    height: 25px;
    border-radius: 5px;
}

.change-password {
    width: 130px;
    height: 15px;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    top: -20px;
    right: 6px;
    list-style-type: none;
    text-decoration: none;
}

.change-password:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(43, 43, 43);
    transition: 0.2s;
    transition-delay: 0.2s;
}

.button-submit1 {
    font-size: medium;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: rgb(204, 204, 204);
    background-color: rgb(41, 41, 41);
    margin: 0 15px 0 37px;
    position: relative;
    left: -12px;
    top: 0px;
    bottom: 50px;
}

.button-submit1:hover {
    transition-delay: 0.5s;
    transition: 0.5s;
    color: rgb(43, 43, 43);
    background-color: rgb(212, 212, 212);
}

p {
    margin-left: 7px;
}

.ket-register1 {
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
}

.ket-register1:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(43, 43, 43);
    transition: 0.2s;
    transition-delay: 0.2s;
}

@keyframes light {
    0% {
    border-color: rgba(255, 255, 255, 0.7);
    }
    50% {
    border-color: rgba(255, 255, 255, 0.3);
    }
    100% {
    border-color: rgba(255, 255, 255, 0.7);
    }
}

/* Style card3 register */

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3 {
    z-index: 9;
    font-family: sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    height: 480px;
    width: 355px;
    border-radius: 0 10px 10px 0;
}

.ket-email2{
    position: relative;
    bottom: 2px;
    left: 25px;
    top: 5px;
}

.email-column2 {
    position: relative;
    top: -2px;
    left: 25px;
    width: 223px;
    height: 25px;
    border-radius: 5px;
}

.ket-password2 {
    position: relative;
    top: -8px;
    left: 25px;
}

.password-column2 {
    position: relative;
    top: -16px;
    left: 25px;
    width: 223px;
    height: 25px;
    border-radius: 5px;
}

.ket-hint {
    position: relative;
    top: -22px;
    left: 25px;
}

.hint-column {
    position: relative;
    top: -30px;
    left: 25px;
    width: 230px;
    height: 25px;
    border-radius: 5px;
}

.ket-jawabanhint {
    position: relative;
    top: -36px;
    left: 25px;
}

.jawabanhint-column {
    position: relative;
    top: -45px;
    left: 25px;
    width: 223px;
    height: 25px;
    border-radius: 5px;
}

.button-submit2 {
    font-size: medium;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: rgb(204, 204, 204);
    background-color: rgb(41, 41, 41);
    margin: 0 15px 0 30px;
    position: relative;
    top: -28px;
    left: 10px;
    bottom: 50px;
}

.button-submit2:hover {
    transition-delay: 0.5s;
    transition: 0.5s;
    color: rgb(43, 43, 43);
    background-color: rgb(212, 212, 212);
}

@keyframes lightPulse {
    0% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

.button-submit1 {
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    animation: lightPulse 2s linear infinite;
}

.button-submit2 {
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    animation: lightPulse 2s linear infinite;
}

.ket-login {
    margin-left: 70px;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
}

.ket-login:hover a {
    background-color: rgb(212, 212, 212);
    color: rgb(43, 43, 43);
    transition: 0.2s;
    transition-delay: 0.2s;
}